body {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 40px auto;

    background-color: #cd853f;
}

input {
    width: 70%;
    padding: 8px;
}

button {
    padding: 8px;
    cursor: pointer;
}

ul {
    margin-top: 20px;
    padding: 0;
}

li span {
    margin-right: 20px;
}

.botao-remover {
    background: none;
    border-radius: 5px;
    color: #cd853f;
    font-size: 18px;
    cursor: pointer;
    margin-left: 12px;
}

.botao-remover:hover {
    color: #9e6328;
    transform: scale(1.2);
}

.botao-remover:focus {
    outline: 2px solid #9e6328;
}

.tarefa-removendo {
    opacity: 0;
    transform: translate(20px);
    transition: 0.3s ease;
}

#listaTarefas {
  list-style: none;
  padding: 0;
}

.tarefa {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  background: #eedcdc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  border-radius: 6px;
  transition: 0.2s;
}

.tarefa:hover {
  background: #ddd;
}

.texto-tarefa {
  flex: 1;
  font-size: 15px;
}

.concluida .texto-tarefa {
  text-decoration: line-through;
  opacity: 0.6;
}

.tarefa input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}