body {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 40px auto;

    background-color: #cd853f;
}

input {
    width: 70%;
    padding: 8px;
}

button {
    padding: 8px;
    cursor: pointer;
}

ul {
    margin-top: 20px;
    padding: 0;
}

li {
    list-style: none;
    background: #f2f2f2;
    margin-bottom: 8px;
    padding: 10px;
}